@model System.Web.Mvc.HandleErrorInfo
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.ErrorId</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    
    <div class="container">
        <p>
            <b>Exception:</b> @Model.Exception.Message<br />
            <b>Controller:</b> @Model.ControllerName<br />
            <b>Action:</b> @Model.ActionName
        </p>
        <div style="overflow:scroll">
            <pre>
@Model.Exception.StackTrace
                </pre>
        </div>
    </div>
</body>
</html>
